<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product List</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-4">
  <h1>Category List</h1>
  <h3>Edit Category</h3>
  <div id="addCategoryForm" >
    <h2>Add New Category</h2>
    <form action="/category/doEdit" method="post" th:object="${category}">
      <input th:field="*{categoryId}">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" th:field="*{name}">
      </div>
      <div class="form-group">
        <label for="description">Description:</label>
        <input type="text" class="form-control" id="description" th:field="*{description}">
      </div>
      <div class="form-group">
        <label for="img_url">Image URL:</label>
        <input type="text" class="form-control" id="img_url" th:field="*{img_url}">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
  $(document).ready(function() {
    $("#addCategoryLink").click(function(e) {
      e.preventDefault();
      $("#addCategoryForm").toggle();
    });
  });
</script>
</body>
</html>
